<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand navbar-logo" href="/"><span>Rest</span>aurant</a
    ><i class="fa-solid fa-utensils"></i>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
        <!-- Dark Mode Toggle -->
        <li class="nav-item align-items-center d-flex my-2">
          <i class="fas fa-sun"></i>
          <div class="ms-2 form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="themingSwitcher"
              data-bs-theme-value="auto"
            />
          </div>
          <i class="fas fa-moon"></i>
        </li>
      </ul>

      <!-- Authentication Buttons -->
      <div class="buttons ms-3 gap-2 d-flex">
        <% if (user) { %>
        <a href="/logout" class="btn second-btn">Logout</a>
        <% } else { %>
        <a href="/login" class="btn second-btn">Login</a>
        <a href="/register" class="btn main-btn">Register</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
